@import "../../../styles/variables";

.navbar {
  height: 60px;
  border-bottom: 1px solid $dark-grey;
  display: flex;
  justify-content: flex-end;

  .ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  
    .li {
      display: flex;
      align-items: center;
      padding: 0 20px;
  
      &:hover {
        opacity: 0.8;
      }
  
      a {
        color: $dark-grey;
      }
    }
  }
}
